
  
  .customcardcontent {
    width: 300px;
    height: max-content;
    margin: 10px;
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
  }

  .TitleName{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .BasicBtn{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(30, 30, 147);
    color: #ffff;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    border: none;
    margin: 3px;
    cursor: pointer;
    transition:0.5s;
    font-size: medium;
  }

  .BasicBtn:hover, .BasicBtn:focus, .BasicBtn:active{
    background-color: rgb(4, 4, 83);
    z-index: 1;
   
  }

  .cardPicture{
    border-radius: 5px;
  }

  .CardBtnPostion{
    display: flex;
    justify-content: space-evenly;
  }
.CardImageHolder{
  position: relative;
}
  .Message{
    position:absolute;
    width: 100px;
    height: 100px;
    top: 34%;
    left: 30%;
    color: rgb(255, 255, 255);
    font-size: 2em;
    z-index: 1;
    opacity: 0.7;
    visibility: visible;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noMessage{
    visibility: hidden;
  }
